.filterpage {
  display: flex;
  .movie-list {
    .movie {
      width: 200px;
    }
  }
  .sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    .sort {
      display: flex;
      flex-direction: column;
      height: 350px;
      justify-content: space-around;
      .sort-title {
        padding: 10px 10px;
      }
      .sort-by,
      .sort-order {
        border-radius: 10px;
        background: white;
        box-shadow: 3px 3px 12px 2px #00000014;
        .dropdown {
          margin: 20px;
          margin-top: 30px;
          .MuiOutlinedInput-input {
            padding: 10px;
          }
        }
      }
    }
    .genre-filter {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background: white;
      box-shadow: 3px 3px 12px 2px #00000014;
      .chips-title {
        padding: 10px 10px;
      }
      .chips {
        ul {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          list-style: none;
          padding-inline-start: 0;
          li {
            padding: 5px;
            .active {
              background: #04a9f4;
              color: white;
              font-weight: 500;
              border: none;
            }
            // cursor: pointer;
          }
        }
      }
    }
  }
  .movie-list {
    width: 80%;
  }
}
